
<!-- Have to work with that ugly way of conditionally applying
     classes/visibilities because e.g. using ng-template doesn't work
     since the elements have to be initialized from the beginning for
     d3 to catch them -->
<div id="graphContainer" [ngClass]="{showContainer: dataAvailable}" >
  <div id="selectContainer">
    <mat-form-field>
      <mat-select placeholder="Select a Feature" [(ngModel)]="feature" (ngModelChange)="updateY()">
        <mat-option *ngFor="let option of featureOptions" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select a Scale" [(ngModel)]="yScale" (ngModelChange)="updateY()">
        <mat-option *ngFor="let option of scales" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div id="products-container" #scatterContainer></div>

</div>

<div *ngIf="!dataAvailable">
  <mat-spinner class="fab-button spinner" [diameter]="30"></mat-spinner>
</div>
