#selectContainer {
  margin-top: 1.2em;
}

mat-form-field {
  margin-left: 70px;
}

#graphContainer {
  visibility: hidden;
}


.showContainer {
  visibility: visible !important;
}


.spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -125px;
}
