
.vp-center {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -35px;
    transform: translate(-50%, -50%);
    
    &-text {
        color: grey;
        font-size: 1.3rem;
    }
}

.input-field {
    font-size: 0.85em;
    margin: 10px 0px 0px 10px;
    width: 99%;
}
