<mat-form-field class="input-field">
    <input matInput placeholder="Search Products" #filterInput (keyup)="0">
</mat-form-field>

<ag-grid-angular style="width: 100%; height: 100%;" class="ag-theme-material" [rowData]="(rowData | async)" [gridOptions]="gridOptions"
    [enableSorting]="true" [enableFilter]="true" [enableColResize]="true" [quickFilterText]="filterInput.value" (gridReady)="onGridReady($event)">
</ag-grid-angular>