.highlight{
    background: #7ba2ff; /* soley-primary 300 */
  }

  /* used to minimize table size */
  .table-container {
    height: 100%;
    overflow-y: scroll;
    margin-top: 5px;
    margin-bottom: -5px;
  }

  .header-title {
    font-size: 18px;
    color: black;
  }
