<div class="table-container">

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="name" >
    <th mat-header-cell *matHeaderCellDef class="header-title">Phase-out recommendations</th>
    <td mat-cell *matCellDef="let productAttribute">{{productAttribute}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngClass]="{'highlight': selectedRowIndex == i}" (click)="highlight(row, i)"></tr>
</table> 
</div>