<div class="dashboard-title">
  Dashboard
</div>
<div *ngIf="dashboardData; else spinner">
  <app-dashboard-toprow [onlyMyActivity]="onlyMyActivity" [dashboardData]="dashboardData"></app-dashboard-toprow>
  <app-dashboard-cards [dashboardData]="dashboardData"></app-dashboard-cards>
</div>
<ng-template #spinner>
  <mat-spinner class="fab-button spinner" [diameter]="30"></mat-spinner>
</ng-template>
