.dashboard-title {        
    font-weight: 300;
    font-size: 2.5em;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 30px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -35px;
    transform: translate(-50%, -50%);
}
