.toolbar {
    background-color: white;
    display: flex;
    font-size: 0.90em;
    box-shadow: 0px 2px 2px rgba(128, 128, 128, 0.349); 

    &-area {
        flex: 1 0 33%;
    }
    &-center {
        display: flex;
        justify-content: center;

        &-navigation {
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            display: flex;
            line-height: 1.5;

            a {            
                text-decoration: none;
                color: inherit;
                padding: 0 30px;
                font-weight: 400;
                line-height: 50%;
            }
            .activatedRoute {
                color: #1976D2;
            }
        }       
    }

    &-left {
        display: flex;
        &-image-container {
            flex: 0 0 auto;
        }
        &-image {
            max-width: 50px;
            max-height: 100%;
            vertical-align: middle;
        }
        &-heading{
            font-weight: 500;
            padding: 5px 0 0 15px;            
        }
    }

    &-right {
        display: flex;
        justify-content: flex-end;
        .icon-container {
            display: flex;
        }
        &-heading{
            font-weight: 500;
            padding: 5px 0 0 15px;            
        }
    }
}