<mat-toolbar class="toolbar">
    <div class="toolbar-area toolbar-left">
        <div class="toolbar-left-image-container">
            <a href=".">
                    <img class="toolbar-left-image" src="../../../assets/soley.png" alt="Soley">
            </a>
        </div>
        <div class="toolbar-left-heading">
            Phase-Out App
        </div>     
    </div>
    <div class="toolbar-area toolbar-center">
        <div class="toolbar-center-navigation">
            <div>
                <a routerLinkActive='activatedRoute' routerLink="/products">Products</a>
            </div>
            <div>
                <a routerLinkActive="activatedRoute" routerLink="/dashboard">Dashboard</a>
            </div>
            <div>
                <a routerLinkActive='activatedRoute' routerLink="/recommendations">Recommendations</a>
            </div>
        </div>
        
    </div>
    <div class="toolbar-area toolbar-right">
        <span class="toolbar-right-heading">{{username}}</span>
        <button mat-icon-button (click)="logout()">
            <mat-icon>input</mat-icon>
        </button>    
    </div>    
</mat-toolbar>