<div class="header">Product Overview</div>
<div class="content-area">
  <div class="chart">
    <canvas baseChart width="1" height= "1"
      [data]="doughnutChartData"
      [colors]="chartColors"
      [labels]="doughnutChartLabels"
      [chartType]="doughnutChartType"
      [options]="options">
    </canvas>
    <div class="total">
      Total: <span class="stats-number">3060</span>
    </div>
    
  </div>
  <div class="stats">
    <div class="stats-content">
        <div class="stats-row">
            <div class="stats-row-color phasedout"></div>
            <div class="stats-row-text">
                Phased-Out: <span class="stats-number">{{chartsData.data.isPhasedOut}}</span>
            </div>
          </div>
          <div class="stats-row">
            <div class="stats-row-color notphasedout"></div>
            <div class="stats-row-text">
                Not Phased-Out: <span class="stats-number">{{chartsData.data.isNotPhasedOut}}</span>
            </div>
          </div>
          <div class="stats-row">
            <div class="stats-row-color inphaseout"></div>
            <div class="stats-row-text">
                In Phase-Out Process: <span class="stats-number">{{chartsData.data.isInPhaseOutProcess}}</span>
            </div>
          </div>
    </div>    
  </div>
</div>
