.header {
    font-size: 1.2em;
    font-weight: 300;
    margin: 0 0 20px 40px;
}

.content-area {
    display: flex;
    flex-direction: row;
    margin-left: 40px;

    .chart {
        display: block;
        width: 120px;
        .total {
            text-align: center;
            margin-top: 5px;
            font-size: 0.9em;
        }
    }

    .stats {
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 0.9em;

        &-content {
            padding-bottom: 10px;

            & > * {
                margin-bottom: 6px;
            }
        }       

        &-number {
            font-weight: bold;
        }

        &-row {
            display: flex;
            flex-direction: row;
            align-items: center;

            &-color {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                margin-right: 5px;
            }
        }
    }   
}

.phasedout {
    background-color: #3F51B5;
    border: 1px solid rgb(29, 37, 85);
}

.inphaseout {
    background-color: #00BCD4;
    border: 1px solid rgb(0, 104, 117);
}

.notphasedout {
    background-color: #1E88E5;
    border: 1px solid rgb(14, 69, 117);
}