.recommendation-page {
    height: 100%;
    visibility: hidden;
}

.showRecommendations {
  visibility: visible !important;
}


.spinner {
  position: absolute;
  left: 50%;
  top: 40%;
  margin-left: -35px;
  transform: translate(-50%, -50%);
}
