<div fxLayout="row" fxLayoutAlign="space-between stretch" class="recommendation-page" [ngClass]="{showRecommendations: dataAvailable}">
  <app-recommendation-list fxFlexFill fxFlex="15%" [recommendations]="(store.state$ | async).recommendations" (recommendationSelected)="onRecommendationSelected($event)"></app-recommendation-list>
  <div fxFlex="60%" fxLayout="column" fxLayoutAlign="start stretch" >
    <app-display-recommendations [selectedProduct]="(store.state$ | async).selectedRecommendation"></app-display-recommendations>
    <div>
      <app-decision-tree *ngIf="selectedGraph == 'tree' ? true : false" [selectedProduct]="(store.state$ | async).selectedRecommendation"></app-decision-tree>
      <app-scatter-plot *ngIf="selectedGraph == 'scatter' ? true : false" [selectedProduct]="(store.state$ | async).selectedRecommendation"></app-scatter-plot>
    </div>
  </div>
  <app-product-details fxFlex="20%" [selectedProduct]="(store.state$ | async).selectedRecommendation"></app-product-details>
</div>

<div *ngIf="!dataAvailable">
  <mat-spinner class="fab-button spinner" [diameter]="30"></mat-spinner>
</div>
