<div class="dashboard-toprow">
  <div class="overview">
    <app-products-overview [chartsData]="overview"></app-products-overview>
  </div>
  <div class="trending">
      <div class="header">
        Trending Products
      </div>
      <table>
        <tr class="content" *ngFor="let trending of trendingData">
          <td>
            <mat-icon color="{{getTrendColor(trending.trend)}}">{{'trending_' + trending.trend}}</mat-icon>
          </td>
          <td>{{trending.product.name}}</td>
          <td>|</td>
          <td>{{trending.count + ' Comments'}}</td>
        </tr>
      </table>
  </div>
  <div class="latest">
      <div class="header">
        Latest Activity
      </div>
      <table>
        <tr class="content" *ngFor="let activity of recentActivities">
          <td>
            <mat-icon color="primary">comment</mat-icon>
          </td>
          <td>{{isOwnComment(activity.comment) ? 'You' : activity.comment.author}}
            <b>commented</b> on {{activity.product.name}}:
            <i>"{{activity.comment.text}}"</i>
          </td>
        </tr>
      </table>
  </div>

</div>