.table {
    border-spacing: 50px;
    border-collapse: separate;
}

.dashboard-toprow {
    display: flex;
    flex-direction: row;
    width: 100%;    
    justify-content: flex-start;
    margin: 45px 0;
}

.trending, .latest {
    flex: 0 0 33%;

    & > * {
        margin-left: 40px;
    }
}
.overview {
    flex: 0 0 33%;
}

.header {
    font-size: 1.2em;
    font-weight: 300;
    margin-bottom: 20px;
}

.content {
    font-size: 0.9em
}