<mat-expansion-panel #panel="matExpansionPanel">
  <mat-expansion-panel-header (click)="togglePanel()">
    <mat-panel-title>
      <mat-icon>{{icon}}</mat-icon>
      {{name}}
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div style="padding-left: 20px;">
    <ng-content></ng-content>
  </div>
</mat-expansion-panel>
