<div class="dashboard-cards">
    <div class="dashboard-cards-item" *ngFor="let chart of charts">
        <app-barchart 
            *ngIf="chart.type == 'barchart'"            
            [chartData]="chart">
        </app-barchart>
        <app-doughnut
            *ngIf="chart.type == 'doughnut'"
            [chartData]="chart">
        </app-doughnut>
    </div>    
</div>
