<div class="container">
  <app-navbar></app-navbar>
  <mat-drawer-container autosize>
    <mat-drawer mode="side" opened>
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
    <mat-drawer mode="side" position="end" opened>
      <app-comments-sidebar></app-comments-sidebar>
    </mat-drawer>
  </mat-drawer-container>
</div>
