.container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.mat-drawer-container {
    height: 100%;
}

.mat-drawer {
    box-shadow: 1px 0px 0px rgba(128, 128, 128, 0.349);
}
