<div fxLayout="column" fxLayoutAlign="space-between">
<h3>Phase-out product blacklist</h3>

<table mat-table [dataSource]="blacklistDataSource" class="mat-elevation-z8" fxFill [ngClass]="{showBlacklistTable: dataAvailable}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        color="primary">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)"
                        color="primary">
          </mat-checkbox>
        </td>
      </ng-container>

    <ng-container matColumnDef="materialnr" >
      <th mat-header-cell *matHeaderCellDef>Product id</th>
      <td mat-cell *matCellDef="let productAttribute">{{productAttribute.materialnr}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let productAttribute">{{productAttribute.name}}</td>
    </ng-container>

    <ng-container matColumnDef="revenue">
      <th mat-header-cell *matHeaderCellDef>Revenue</th>
      <td mat-cell *matCellDef="let productAttribute">{{productAttribute.revenue}}</td>
    </ng-container>

    <ng-container matColumnDef="margin">
      <th mat-header-cell *matHeaderCellDef>Margin</th>
      <td mat-cell *matCellDef="let productAttribute">{{productAttribute.margin}}</td>
    </ng-container>

    <ng-container matColumnDef="salesqnt">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let productAttribute">{{productAttribute.salesqnt}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div fxLayout="row" fxLayoutAlign="space-between" style="margin: 5px;">
      <button mat-raised-button color="primary" [mat-dialog-close]="true">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="onRemove()">Remove from blacklist</button>
  </div>

  <div *ngIf="!dataAvailable">
    <mat-spinner class="fab-button spinner" [diameter]="30"></mat-spinner>
  </div>

</div>


