<div class="sidebar" [@toggleSidebar]="closed" (@toggleSidebar.start)="start()" (@toggleSidebar.done)="done()">
  <ng-container *ngIf="product">
    <div class="header">
      <mat-toolbar>
        <span>{{product.name}}</span>
        <span style="flex: 1 1 auto;"></span>
        <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div class="content">
      <ng-container *ngFor="let comment of product.comments">
        <mat-card [ngClass]="{'mat-card-left': !isOwnComment(comment), 'mat-card-right': isOwnComment(comment)}">
          <mat-card-subtitle>
            <mat-grid-list cols="4">
              <mat-grid-tile colspan="3">
                {{comment.author}}
                {{comment.date | date:'dd.MM.y, hh:mm:ss' }}
              </mat-grid-tile>
              <mat-grid-tile colspan="1">
                <button *ngIf="isOwnComment(comment)" mat-icon-button (click)="deleteComment(comment._id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-subtitle>
          <mat-card-content>{{comment.text}} </mat-card-content>
        </mat-card>
      </ng-container>
    </div>

    <div class="footer">
      <form (submit)="comment()">
        <mat-form-field>
          <input matInput [(ngModel)]="textField" name="text" placeholder="Text">
        </mat-form-field>
        <button mat-raised-button (click)="comment()">Comment</button>
      </form>
    </div>
  </ng-container>
</div>