.sidebar {
    background: #f2f5fa;
    height: 100%;
}

.mat-toolbar {
    background: inherit !important;
}

.header {
    position: absolute;
    top: 0;
    width: 100%;
    background: inherit;
    box-shadow: none;
    z-index: 2;
}

.content {
    padding-top: 60px;
    margin-bottom: 80px;
    background: inherit;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: inherit;
    box-shadow: none;
    z-index: 2;
}

.mat-form-field {
    margin: 8px;
}

.mat-card-left {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 68px;
}

.mat-card-right {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 68px;
    margin-right: 8px;
}
