<mat-card class="diagram-container">
    <div class="diagram-header">
        {{chartData.nicename}}
    </div>
    <div style="display: block">
        <canvas baseChart
          [data]="doughnutChartData"
          [colors]="chartColors"
          [labels]="doughnutChartLabels"
          [chartType]="doughnutChartType"
          [options]="options">
        </canvas>
    </div>
</mat-card>