.recommendationElement {
  float: left;
  width: calc(50% - 80px);
  height: auto;
  text-align: center;
  margin: 30px 40px;
  border-radius: 10px;
  color: white;
}

.phaseOutHighlight {
  background: #3F51B5;
}

.dontPhaseOutHighlight {
  background: #1E88E5;
}
