<div *ngIf="selectedProduct">
  <div class="recommendationElement"
       [ngClass]="selectedProduct.svmClassification ? 'phaseOutHighlight' : 'dontPhaseOutHighlight'">
       <p>The Support Vector Machine's recommendation is:</p>
       <p><strong>{{ selectedProduct.svmClassification ? 'Phase-out' : 'Don\'t phase-out' }}</strong></p>
  </div>
  <div class="recommendationElement"
       [ngClass]="selectedProduct.decisionTreeClassification ? 'phaseOutHighlight' : 'dontPhaseOutHighlight'">
      <p>The Decision Tree's recommendation is:</p>
      <p><strong>{{ selectedProduct.decisionTreeClassification ? 'Phase-out' : 'Don\'t phase-out' }}</strong></p>
  </div>
</div>

