<div class="sidebar" [@collapseSidebar]="internalCollapsed" (@collapseSidebar.start)="start()" (@collapseSidebar.done)="done()">
  <div class="content">
    <mat-accordion *ngIf="currentUrl == '/products'" (click)="clickAccordion()" displayMode="flat" multi="true" [hideToggle]=internalCollapsed>
      <app-sidebar-panel name="Columns" icon="table_chart" [sidebarCollapsed]=externalCollapsed>
        <div class="mat-checkbox-group">
          <mat-checkbox *ngFor="let product of gridOptions.columnDefs" color="primary" [checked]="!product.hide" (change)="updateColumns(product)">{{product.headerName}}</mat-checkbox>
        </div>
      </app-sidebar-panel>
      <app-sidebar-panel name="Export" icon="get_app" [sidebarCollapsed]=externalCollapsed>
        <mat-radio-group [(ngModel)]="allColumns" name="allColumns">
          <mat-radio-button [value]=true color="primary">
            Everything
          </mat-radio-button>
          <mat-radio-button [value]=false color="primary">
            Current table
          </mat-radio-button>
        </mat-radio-group>
        <mat-slide-toggle [(ngModel)]="includeComments" color="primary">Include comments</mat-slide-toggle>
        <button mat-raised-button (click)="export()" color="primary">Export</button>
      </app-sidebar-panel>
    </mat-accordion>

    <mat-accordion *ngIf="currentUrl == '/recommendations'" (click)="clickAccordion()" displayMode="flat" multi="true" [hideToggle]=internalCollapsed>
      <app-sidebar-panel name="Visualization" icon="photo_library" [sidebarCollapsed]=externalCollapsed>
        <mat-radio-group [(ngModel)]="selectedGraph" (change)="updateSelectedGraph()" >
          <mat-radio-button [value]="'tree'" [checked]="selectedGraph == 'tree' ? true : false" color="primary">Tree</mat-radio-button>
          <mat-radio-button [value]="'scatter'" [checked]="selectedGraph == 'scatter' ? true : false" color="primary">Scatter Plot</mat-radio-button>
        </mat-radio-group>
      </app-sidebar-panel>
    </mat-accordion>

    <mat-accordion *ngIf="currentUrl == '/recommendations'" (click)="clickAccordion()" displayMode="flat" multi="true"
    [hideToggle]=internalCollapsed>
    <app-sidebar-panel name="Blacklist" icon="list" [sidebarCollapsed]=externalCollapsed>
      <button mat-raised-button (click)="showBlacklist()" color="primary">Open Blacklist
      </button>
    </app-sidebar-panel>
  </mat-accordion>

    <mat-accordion *ngIf="currentUrl == '/' || currentUrl == '/dashboard'" (click)="clickAccordion()" displayMode="flat" multi="true"
      [hideToggle]=internalCollapsed>
      <app-sidebar-panel name="Chart Selection" icon="bar_chart" [sidebarCollapsed]=externalCollapsed>
        <div *ngFor="let card of dashboardSelection" style="width: 100%">
          <mat-checkbox class="column-checkbox" color="primary" [checked]="card.visible" (change)="updateCards(card)">{{card.nicename}}</mat-checkbox>
        </div>
      </app-sidebar-panel>
      <app-sidebar-panel name="Activity" icon="chat_bubble_outline" [sidebarCollapsed]=externalCollapsed>
        <mat-slide-toggle color="primary" [formControl]="activitySlider" (change)="onChange()">Show only my Activity</mat-slide-toggle>
      </app-sidebar-panel>
    </mat-accordion>
  </div>

  <div class="footer">
    <mat-expansion-panel #collapsePanel="matExpansionPanel" hideToggle=true>
      <mat-expansion-panel-header (click)="toggleSidebar()">
        <mat-panel-title>
          <mat-icon>{{internalCollapsed ? "arrow_forward_ios" : "arrow_back_ios"}}</mat-icon>
          Collapse
        </mat-panel-title>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </div>
</div>
