.sidebar {
    background: #f2f5fa;
    height: 100%;
    overflow: auto;
}

.mat-expansion-panel {
    background: inherit;
    box-shadow: none;
}

.mat-expansion-panel-header-title {
    align-items: center;
}

.mat-checkbox {
    font-size: 0.9em;

}

.mat-radio-group, .mat-slide-toggle, .mat-checkbox-group {
    display: inline-flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.mat-radio-button, .mat-button {
    margin: 5px;
}

.content {
    margin-bottom: 60px;
    background: inherit;
    overflow: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: inherit;
    box-shadow: none;
    z-index: 2;
}
