<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table-container">
  <ng-container matColumnDef="attribute" >
    <th mat-header-cell *matHeaderCellDef class="header-title">{{selectedProduct ? selectedProduct.name : ''}} details</th>
    <td mat-cell *matCellDef="let productAttribute" >{{productAttribute.attribute}} &nbsp;</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let productAttribute">{{productAttribute.value}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table> 
<div style="margin-top: 5px;" fxLayout="row" fxLayoutAlign="space-between stretch">
  <button mat-raised-button color="primary" (click)="openSnackBar()">
    Add to Blacklist
  </button>
</div>
