@import '~@angular/material/theming';

@include mat-core();

// Generated with http://mcg.mbitson.com/
$soley-primary: (
  50: #e4ecf5,
  100: #bbcfe6,
  200: #8dafd5,
  300: #5f8fc4,
  400: #3d77b7,
  500: #1b5faa,
  600: #1857a3,
  700: #144d99,
  800: #104390,
  900: #08327f,
  A100: #aec6ff,
  A200: #7ba2ff,
  A400: #487fff,
  A700: #2f6dff,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #ffffff,
      600: #ffffff,
      700: #ffffff,
      800: #ffffff,
      900: #ffffff,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);
$soley-secondary: (
  50: #f9fcfe,
  100: #f1f6fb,
  200: #e7f1f9,
  300: #ddebf7,
  400: #d6e6f5,
  500: #cfe2f3,
  600: #cadff1,
  700: #c3daef,
  800: #bdd6ed,
  900: #b2cfea,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast:
    (
      50: #000000,
      100: #000000,
      200: #000000,
      300: #000000,
      400: #000000,
      500: #000000,
      600: #000000,
      700: #000000,
      800: #000000,
      900: #000000,
      A100: #000000,
      A200: #000000,
      A400: #000000,
      A700: #000000
    )
);
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$my-soley-primary: mat-palette($soley-primary);
$my-soley-accent: mat-palette($soley-secondary);
// The warn palette is optional (defaults to red).
// $my-soley-warn: mat-palette($mat-deep-orange, A200);
$my-soley-warn: mat-palette($mat-red);
// Create the theme object (a Sass map containing all of the palettes).
$my-soley-theme: mat-light-theme($my-soley-primary, $my-soley-accent, $my-soley-warn);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($my-soley-theme);