/* You can add global styles to this file, and also import other style files */

@import './soley.theme.scss';
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";


/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


// ------------------------------ Decision tree styling ------------------------------
.leaf {
  fill: #7ba2ff;
  transition: fill 0.1s;

    &:hover {
      fill: #2f6dff;
    }
}


.finalLeaf {
  fill: #104390;
  transition: fill 0.1s;

    &:hover {
      fill: #08327f;
    }
}


.ellipse {
  rx: 10;
  ry: 10;
  fill: #7ba2ff;
  transition: fill 0.1s;

    &:hover {
      fill: #2f6dff;
    }
}


path:not(.second-layer) {
  stroke: darkgray;
  stroke-width: 2;
}


// ------------------------------ Scatter plot styling ------------------------------
circle:not(#selectedCircle) {

  &.phasedOut {
    fill: #3F51B5;
  }

  &.notPhasedOut {
    fill: #1E88E5;
  }

}

#selectedCircle {
  fill: #00BCD4;
}
