<mat-card class="diagram-container">
    <div class="diagram-header">
        {{chartData.nicename}}
    </div>
    <div style="display: block">
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType"
            [colors]="chartColors">
        </canvas>
    </div>
</mat-card>
