.diagram-container {
    margin: 30px 10px 10px 10px;
    padding: 20px;
}
.diagram-header {
    font-weight: 300;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}